<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="SourceLocation" value="C:\Users\daniel.lu\Documents\Visual Studio 2013\Projects\StrangeImagetoPNG\StrangeImagetoPNG\bin\Debug" />
    <add key="Extensions" value="jp2|webp"/>
  </appSettings>
</configuration>
